<div class="wrapper">
    <div class="quote">
      <svg width="34px" height="32px">
        <use
          href="./public/icon.svg#icon-running-stick-figure-in-cyrcle"
        ></use>
      </svg>
      <div class="conteiner_quote">
        <h3 class="quote_title">Quote of the day</h3>
        <p class="quote_text"></p>
        <h4 class="author_name"></h4>
      </div>
      <svg width="34px" height="32px" fill="white">
        <use href="./public/icon.svg#icon-inverted-commas"></use>
      </svg>
    </div>
    <div class="daily_norm">
      <svg width="20px" height="20px">
        <use href="./public/icon.svg#icon-dumbbell"></use>
      </svg>
      <div class="minute_norm">
        <h3>110 min</h3>
        <p>Daily norm of sports</p>
      </div>
    </div>

    <picture>
      <source
        srcset="./img/exercicesLeft/women_sportswear_desktop.jpg 1x"
        media="(min-width: 1440px)"
      />
      <source
        srcset="./img/exercicesLef/women_sportswear_desktop@2x.webp 1x"
        media="(min-width: 1440px)"
        type="image/webp"
      />

      <source
        srcset=".exercicesLeft/women-sportswear-tablet.jpg 1x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/exercicesLeft/women-sportswear-tablet@2x.webp 1x"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <source
        srcset="./img/exercicesLeft/women-sportswear-mobile.jpg 1x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./img/exercicesLeft/women-sportswear-mobile@2x.webp"
        media="(max-width: 767px)"
        type="image/webp"
      />

      <img
        class="sports_women"
        src="./img/exercicesLeft/women_sportswear.jpg"
        alt=""
      />
    </picture>
  </div>
