<div class="leftside">
  <div class="quote">
    <svg width="34px" height="32px">
      <use href="./public/icon.svg#icon-running-stick-figure-in-cyrcle"></use>
    </svg>
    <div class="conteiner_quote">
      <h3 class="quote_title">Quote of the day</h3>
      <p class="quote_text"></p>
      <h4 class="author_name"></h4>
    </div>
    <svg width="34px" height="32px" fill="white">
      <use href="./public/icon.svg#icon-inverted-commas"></use>
    </svg>
  </div>
  <picture>
    <source
      src="./img/exercisesLef/women_sportswear_desktop.jpg"
      width="444"
      height="242"
      media="(min-width: 1440px)"
    />
    <source
      src="./img/exercisesLef/women_sportswear_desktop.webp 2x"
      media="(min-width: 1440px)"
      type="image/webp"
    />

    <source
      src="./img/women_sportswear_tablet.jpg 1x"
      media="(min-width: 768px)"
    />
    <source
      src="./img/exercisesLeft/women_sportswear_tablet.webp 1x"
      media="(min-width: 768px)"
      type="image/webp"
    />

    <source
      src="./img/exercisesLeft/women_sportswear_mobile.jpg 1x"
      media="(max-width: 767px)"
    />
    <source
      src="./img/exercisesLeft/women_sportswear_mobile.webp 1x"
      media="(max-width: 767px)"
      type="image/webp"
    />

    <img
      class="sports_women"
      src="./img/exercisesLeft/women_sportswear.jpg"
      alt=""
    />
  </picture>
  <div class="daily_norm">
    <svg width="20px" height="20px">
      <use href="./public/icon.svg#icon-dumbbell"></use>
    </svg>
    <div class="minute_norm">
      <h3 class="timework">110 min</h3>
      <p class="normdaily">Daily norm of sports</p>
      <p class="text110min">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
      
    </div>
  </div>
</div>
