<div class="exercise-section-top-container">
    <h2 class="section-title">Exercise</h2>

    <ul class="exercise-section-buttons-container">
        <li>
            <button class="exercise-section-button js-active-filter-button" type="button" disabled data-filter="Body%20parts">
                Body parts
            </button>
        </li>
        <li>
            <button class="exercise-section-button" type="button" data-filter="Muscles">
                Muscles
            </button>
        </li>
        <li>
            <button  class="exercise-section-button" type="button" data-filter="Equipment">
                Equipment
            </button>
        </li>
    </ul>
</div>

<div class="exercise-section-right-container">
    <ul class="exercise-card-list">
        <li class="exercise-card-item">
            <img class="exercise-card-img">
            <div class="exercise-card-text-container">
                <h2 class="exercise-card-title">Waist</h2>
                <p class="exercise-card-filter">Body parts</p>
            </div>
        </li>
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>