<div class="wrapper_left wrapper_up">
  <div class="quote_up">
    <svg width="34px" height="32px">
      <use href="./public/icon.svg#icon-running-stick-figure-in-cyrcle"></use>
    </svg>
    <div class="conteiner_quote">
      <h3 class="quote_title">Quote of the day</h3>
      <p class="quote_text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <h4 class="author_name_up">Tom Brady</h4>
    </div>
    <svg width="34px" height="32px" fill="white">
      <use href="./public/icon.svg#icon-inverted-commas"></use>
    </svg>
  </div>
  <picture>
    <source
      srcset="
        ./img/exercisesLeft/women_sportswear_desktop.jpg 1x,
        ./img/exercisesLeft/women_sportswear_desktop@2x.jpg 2x
      "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        ./img/exercisesLeft/women_sportswear_tablet.jpg 1x,
        ./img/exercisesLeft/women_sportswear_tablet@2x.jpg 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./img/exercisesLeft/women_sportswear_mobile.jpg 1x,
        ./img/exercisesLeft/women_sportswear_mobile@2x.jpg 2x
      "
      media="(max-width: 767px)"
    />
    <img
      class="sports_women_up"
      src="./img/exercisesLeft/women_sportswear.jpg"
      alt="women sports"
    />
  </picture>
  <div class="daily_norm_up">
    <svg class="dumbbell" width="32px" height="32px">
      <use href="./public/icon.svg#icon-dumbbell-in-cyrcle">"></use>
    </svg>
    <div class="minute_norm_up">
      <h3 class="timework">110 min</h3>
      <p class="normdaily">Daily norm of sports</p>
      <p class="text110min">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</div>
