<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-icons">
        <a href="/index.html" class="footer-logo">
          <svg width="132" height="24" class="footer-logo-icon">
            <use href="/icon.svg#icon-logo-footer"></use>
          </svg>
        </a>

        <ul class="footer-soc-menu">
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="/icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-soc-link"
              target="_blank"
            >
              <svg width="24" height="24" class="footer-soc-icon">
                <use href="/icon.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-subscribe">
        <h2 class="footer-title">
          Transforming your <span class="footer-span">body</span> shape with us
        </h2>
        <div class="footer-sub-form">
          <p class="subscribe-text">Subscribe and learn about new exercises!</p>
          <form class="subscribe-form">
            <label for="email" class="subscribe-label">
              <input
                type="email"
                inputmode="email"
                class="footer-email"
                name="email"
                id="user-email-subscribe"
                placeholder="Email"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z]+\.[a-zA-Z]{2,4}"
                title="The email must be in format test@gmail.com After @ dont use numbers and symblos like -, _, etc."
                required
              />
            </label>
            <button type="submit" class="footer-subscribe-btn">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-user-agreement">
      <p class="footer-text">Your Energy. All rights reserved.</p>
      <div class="footer-terms">
        <p class="footer-text">
          <a href="#" class="footer-privacy-link">Privacy Policy</a
          ><span class="span-terms">/</span
          ><a href="#" class="footer-privacy-link">Terms of Service</a>
        </p>
        <p class="footer-copyright footer-text">&copy;2023</p>
      </div>
    </div>
  </div>
</footer>
