<section class="backdrop-rating" style="display: none">
  <form action="" class="rating-form">
    <button type="button" class="button-close">
      <svg class="close-icon" width="24" height="24">
        <use href="./public/icon.svg#icon-x"></use>
      </svg>
    </button>
    <label for="rating-star-radio">
      <!-- <div class="text-rating-star">Rating</div> 
      Element p not allowed as child of element label in this context
       <form id='rating-star-radio' action="rating__form"> -->
      <div class="form-item-rating-f">
        <div class="rating-f">
          <div class="rating__value-f">4.5</div>
          <div class="rating__body-f">
            <div class="rating__active-f"></div>
            <div class="rating__items-f">
              <input
                type="radio"
                class="rating__item-f"
                value="1"
                name="rating"
              />
              <input
                type="radio"
                class="rating__item-f"
                value="2"
                name="rating"
              />
              <input
                type="radio"
                class="rating__item-f"
                value="3"
                name="rating"
              />
              <input
                type="radio"
                class="rating__item-f"
                value="4"
                name="rating"
              />
              <input
                type="radio"
                class="rating__item-f"
                value="5"
                name="rating"
              />
            </div>
          </div>
        </div>
      </div>
    </label>
    <!-- </form> -->
    <input
      class="email-rating-form"
      type="email"
      name="email"
      autofocus
      placeholder="Email"
    />
    <textarea
      class="textarea-rating-form"
      name="message"
      rows="8"
      placeholder="Your comment"
    ></textarea>

    <button class="button-rating-form" type="submit">Send</button>
  </form>
</section>
