<section class="hero">
  <div class="container">

<div class="shell">
    <div class="box-hero">

    <div class="box">
      <h1 class="hero-title">
        <img
        class="hero-sun"
        srcset="./img/hero/sun1x.png 1x, ./img/hero/sun2x.png 2x"
        src="./img/hero/sun1x.png"
        alt="Sun"
      />
        Get <span class="hero-span">Body</span> in shape, Stay healthy
      </h1>

  <p class="hero-text">
      Transform your physique and embrace a healthier lifestyle with our
      comprehensive fitness and nutrition support.
    </p>
    </div>

    </div>

<div class="box-img">
  
<picture>
<source srcset="./img/hero/image-des1x.jpg 1x" media="(min-width: 1440px)">
<source srcset="./img/hero/image-des2x.jpg 2x" media="(min-width: 1440px)" >

<source srcset="./img/hero/image-tab1x.jpg 1x" media="(min-width: 768px)" >
<source srcset="./img/hero/image-tab2x.jpg 2x" media="(min-width: 768px)" >

<source srcset="./img/hero/image-mob.jpg 1x" media="(max-width: 767px)" >
<source srcset="./img/hero/image2x-mob.jpg 2x" media="(max-width: 767px)" >
  
<img class="hero-img"
   src="./img/hero/image-mob.jpg"
   alt="Good training">
   </picture>
   </div>

 <div class="box-tag">
    <div class="img-yoga">
        <img
        class="yoga"
          srcset="
            ./img/hero/image-yoga1x.jpg 1x,
            ./img/hero/image-yoga2x.jpg 2x
          "
          src="./img/hero/image-yoga1x.jpg"
          alt="Pose in yoga"
        />
    </div>
<div>
      <ul class="tag-list">
        <li class="tag-items">
          <p class="tag-item">#Sport</p>
        </li>
        <li class="tag-items">
          <p class="tag-item">#Healthy</p>
        </li>
        <li class="tag-items">
          <p class="tag-item">#Workout</p>
        </li>
        <li class="tag-items">
          <p class="tag-item">#Diet</p>
        </li>
      </ul>
      </div>
    </div>
    </div>
   </div>
  </div>
</section>
