<section class="backdrop is-hidden" data-modal>
    <div class="modal-window">
        <button type="button" class="button-close">
            <svg class="close-icon" width="24" height="24">
                <use href="./public/icon.svg#icon-x"></use>
            </svg>
        </button>
        <div class="modal-card-container-f">
        </div>

        <div class="btn-modal">
            <button type="button" class="btn-delete-favorites">
                Remove from favorites
                <svg class="icon-trash" width="20" height="20">
                    <use href="./public/icon.svg#icon-trash"></use>
                </svg>
            </button>
            <button type="button" class="btn-rating is-hidden">Give a rating</button>
        </div>
    </div>
</section>