@media only screen and (min-width: 1440px) {
    .exercise-container {
        display: grid;
        grid-template-columns: 444px 900px;
        grid-template-areas: 
        "top top"
        "left right";
        column-gap: 32px;
    }
    
    .exercise-section-top-container {
        grid-area: top;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .exercise-section-right-container {
        grid-area: right;
    }
}

.exercise-section-title {
    color: var(--main-dark);
    font-size: 28px;
    line-height: 1.35;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    font-weight: 400;
    display: flex;
    gap: 8px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .exercise-section-title {
        color: var(--main-dark);
        font-size: 44px;
        line-height: 1.09;
        margin-bottom: 32px;
    }
}

.exercise-section-title-span {
    color: rgba(36, 36, 36, 0.50);
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.exercise-input-container {
    position: relative;
    margin: 20px 0;
    max-width: 335px;
}

.exercise-section-input {
    width: 100%;
    padding: 12px 208px 12px 14px;
    border-radius: 30px;
    border: 1px solid var(--main-dark);

    color: var(--main-dark);
    font-size: 14px;

    line-height: 1.42;
}

.exercise-section-input:focus {
    outline: none;
}

.exercise-section-input::placeholder {
    color: var(--main-dark);
}

.exercise-input-button {
    position: absolute;
    top: 15px;
    right: 14px;
    background: transparent;
    padding: 0;
    border: none;
}

.exercise-section-buttons-container {
    display: flex;
    gap: 20px;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .exercise-section-buttons-container {
        margin-bottom: 40px;
    }
}

.exercise-section-button {
    color: rgba(36, 36, 36, 0.6);
    font-size: 14px;
    line-height: 1.42; /* 142.857% */
    background: transparent;
    border: none;
    padding: 0px;

    position: relative;
}

@media only screen and (min-width: 768px) {
    .exercise-section-button {
        font-size: 16px;
        line-height: 1.5;
    }
}

.exercise-section-button:hover,
.exercise-section-button:focus {
    color: var(--main-dark);
}

.js-active-filter-button {
    color: var(--main-dark);
}

.js-active-filter-button::after {
    position: absolute;
    bottom: -8px;
    left: 0px;
    content: "";
    border-radius: 2px;
    background: var(--main-dark);
    height: 4px;
    width: 100%;
}

.exercise-card-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .exercise-card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px 15px;
    }
}

.exercise-card-item {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .exercise-card-item {
        width: calc((100% - 30px)/3);
        height: 225px;
    }
}

.exercise-card-img {
    object-fit: cover;
    width: 100%;
    display: block;
    border-radius: 12px;
    height: 225px;
}

.exercise-card-item::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.50) 100%);

    background-repeat: no-repeat;
    border-radius: 12px;
}

.exercise-card-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.exercise-card-title {
    color: var(--main-white-text);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; /* 100% */

    text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
    .exercise-card-title {
        font-size: 24px;
    }
}

.exercise-card-filter {
    color: rgba(244, 244, 244, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    line-height: 1.5; /* 150% */
}
