/*=Mobile=*/
.wrapper_left {
  margin-top: 80px;
}

.quote_up {
  display: flex;
  gap: 18px;
  background: #242424;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 335px;
}
.conteiner_quote {
  width: 100%;
}
/* .run_man {
  width: 34px;
  height: 32px;
  border-radius: 50%;
} */
.quote_title {
  color: #f4f4f4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7px;
}
.quote_text {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.author_name_up {
  color: #f4f4f4;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  padding-bottom: 20px;
  padding-top: 16px;
}

/* .sports_women{

    max-width: 100%;
    max-height: 119px;
    margin-bottom: 40px;
    border-radius: 20px;
} */

.daily_norm_up {
  width: 335px;
  height: 203px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
}
.minute_norm_up {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding-left: 50px;
  padding-right: 20px;
}
.minute_norm_up > h3 {
  margin-bottom: 6px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
/* .minute_norm_up > p {
  color: rgba(36, 36, 36, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
} */
.default_text {
  max-width: 318px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}
.sports_women_up {
  max-width: 335px;
  max-height: 242px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.timework {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Neue Montreal;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}
.normdaily {
  color: rgba(36, 36, 36, 0.6);
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding-bottom: 16px;
}
.text110min {
  overflow: hidden;
  color: #242424;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  width: 245px;
  height: 105px;
  flex-shrink: 0;
}
.dumbbell {
  position: absolute;
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* .wrapper_up {
    display: flex;
    column-gap: 20px;
    flex-direction: column;
  } */
  .wrapper_left {
    display: grid;
    column-gap: 16px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
  }
  .quote_up {
    grid-column-start: 1;
    /* grid-column-end: 3; */
    max-width: 704px;
    padding: 40px;
    margin-bottom: 16px;
    width: 400px;
    height: 249px;
  }
  .quote_title {
    font-size: 24px;
    line-height: 1.33;
  }
  .quote_text {
    margin-bottom: 18px;
  }
  .author_name_up {
    display: block;
    color: #f4f4f4;
    line-height: 1.5;
  }
  .sports_women_up {
    max-width: 288px;
    max-height: 258px;
  }
  /* .daily_norm {
    max-width: 344px;
    padding: 25px;
    max-height: 141px;
  } */
  .daily_norm_up {
    width: 400px;
    height: 249px;
  }
  .minute_norm > h3 {
    font-size: 24px;
    line-height: 1.33;
  }
  .default_text {
    max-width: 554px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.33;
    padding-top: 132px;
    padding-bottom: 180px;
  }
  .timework {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
  }
  .text110min {
    width: 270px;
    height: 97px;
  }
}
/* Desktop */

@media screen and (min-width: 1440px) {
  .wrapper_up {
    display: grid;
    grid-template-columns: 1fr;
    align-self: start;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'quote'
      'picture'
      'minute'
      'daily';
  }
  .wrapper_left {
    grid-area: unset;
    align-self: start;
    display: grid;
    column-gap: 16px;
    justify-content: center;
    margin-top: 0px;
  }
  .exercise-container {
    display: flex;
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 444px 230px;
    grid-template-areas:
      'top top'
      'left right';
    column-gap: 32px;
  }
  .quote_up {
    width: 444px;
  }
  .daily_norm_up {
    width: 444px;
    height: 315px;
  }
  h2 {
    grid-area: title;
    margin-bottom: 44px;
  }
  .sports_women_up {
   max-width: 444px;
   max-height: 242px;
  }
  .default_text {
    padding-top: 102px;
  }
  .timework {
    font-size: 24px;
    width: 314px;
    /* height: 163px; */
  }
  .text110min {
    width: 314px;
    height: 163px;
  }
  .text110min {
    overflow: hidden;
    color: #242424;
    text-overflow: ellipsis;
    white-space: wrap;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    width: 314px;
    flex-shrink: 0;
  }
}
