/* .backdrop-rating{
       
        width: 100%;
        height: 100%;
        z-index: 999;
        background: rgba(4, 4, 4, 0.40);
        overflow-y: auto;
        position: fixed;
        top: 0;
} */
.rating-form{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--main-dark);
        max-width: 430px;
        border-radius: 20px;
        padding: 40px 20px;
        margin: 5px 20px;
        left: 50%;
        transform: translate(0);
        overflow-y: auto;
}
.button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    fill: var(--main-white-text);
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0);
    stroke: var(--main-white-text);
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text-rating-star{

        color: rgba(244, 244, 244, 0.40);
        font-family: 'Neue Montreal';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
}
.rating__value-f{
    margin-top: 8px;
    color: #F4F4F4;
        font-family: "Neue Montreal";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
}
.email-rating-form{
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #F4F4F4;
    background-color: inherit;
    padding: 12px 14px;
}
.textarea-rating-form{
    margin-top: 10px;
    border-radius: 15px;
        border: 1px solid #F4F4F4;
        background-color: inherit;
        padding: 12px 14px;
}
.email-rating-form::placeholder,
.textarea-rating-form::placeholder{
        color: rgba(244, 244, 244, 0.60);
        font-family: 'Neue Montreal';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.28;
      
}
.button-rating-form{
       margin-top: 20px;
        max-width: 350px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-radius: 30px;
            background-color: var(--main-white-text);
            border: 1px solid var(--main-white-text);
            color: var(--main-dark);
            font-size: 14px;
            line-height: 1.28;
            transition: background-color 0.3s linear, color 0.3s linear;
}
.button-rating-form:active,
.button-rating-form:hover{
    background-color: inherit;
    border: 1px solid #F4F4F4;
    color: #F4F4F4;
}

/* rating-stars */
.rating-f {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    line-height: 0.85;
    gap:4px;

}

.rating__body-f {
    position: relative;
}

.rating__body-f::before {
    content: '★★★★★';
    display: block;
    font-size: 12px;
    color: rgba(244, 244, 244, 0.20);
}
.rating__active-f {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active-f::before {
    content: '★★★★★';
    position: absolute;
    font-size: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #EEA10C;
}

.rating__items-f {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.rating__item-f {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    font-size: 12px;
}
@media (min-width: 768px) {
.button-rating-form {
    font-size: 16px;
}
.email-rating-form::placeholder,
.textarea-rating-form::placeholder{
    font-size: 16px;
}
.rating-form{
    padding: 40px;
}
}
