.hero {
  padding: 80px 0;
  background-color: var(--main-white-background);
}

.box {
  display: flex;
  gap: 6px;
  padding: 0;
}
.hero-sun {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}
.hero-title {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  max-width: 335px;
}
.hero-span {
  font-style: italic;
}
.box-text-img {
  display: block;
  width: 335px;
}
.hero-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  padding-bottom: 16px;
  padding-top: 20px;
}
/* .hero-img {
  width: 335px;
} */
.box-tag {
  /* max-width: 334px; */
  height: 26px;
  padding-top: 24px;
}

.img-yoga {
  display: none;
}
.tag-list {
  gap: 6px;
  display: flex;
  justify-content: center;
}
.tag-items {
  border-radius: 30px;
  border: 1px solid var(--main-dark);
  padding: 4px 15px;
}
.tag-item {
  align-items: center;
  line-height: 1.5; /* 150% */
}

/* -----------MEDIA----------*/

@media screen and (min-width: 768px) {
  .box-hero {
    width: 704px;
  }

  .hero {
    padding: 100px 0;
  }

  .hero-sun {
    width: 60px;
    height: 60px;
  }

  .hero-title {
    font-size: 74px;
    letter-spacing: -1.48px;
    line-height: 1;
  }

  .hero-text {
    width: 528px;
    font-size: 18px;
    line-height: 1.33;
  }

  .tag-list {
    gap: 8px;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .box-hero {
    width: 1376px;
  }

  .box {
    justify-content: space-evenly;
  }

  .img-yoga {
    display: inline-flex;
    max-width: 168px;
    height: 100px;
  }

  .tag-list {
    gap: 8px;
  }

  .box-tag {
    display: flex;
    width: 182px;
    justify-content: end;
  }
}
