.hero {
  padding: 80px 0;
}

.hero-sun {
  display: inline;
  width: 38px;
  height: 38px;
  padding-top: 5px;
}
.hero-title {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.8px;
  font-size: 40px;
}
.hero-span {
  font-style: italic;
}
.box-text-img {
  display: block;
  /* width: 335px; */
}
.hero-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  padding-bottom: 16px;
  padding-top: 20px;
}
.hero-img {
  display: flex;
}
.box-tag {
  /* max-width: 334px; */
  height: 26px;
  padding-top: 24px;
}

.yoga {
  display: none;
}
.tag-list {
  gap: 6px;
  display: flex;
  justify-content: center;
}
.tag-items {
  border-radius: 30px;
  border: 1px solid var(--main-dark);
  padding: 4px 15px;
}
.tag-item {
  align-items: center;
  line-height: 1.5; /* 150% */
}

/* -----------MEDIA----------*/

/* -----------MEDIA-768--------- */

@media screen and (min-width: 768px) {
  .box {
    width: 593px;
    height: 148px;
  }

  .hero {
    padding: 100px 0;
  }

  .hero-sun {
    width: 60px;
    height: 60px;
  }

  .hero-title {
    font-size: 74px;
    letter-spacing: -1.48px;
    line-height: 1;
  }

  .hero-text {
    width: 528px;
    font-size: 18px;
    line-height: 1.33;
  }

  /* .hero-img {
    width: 640px;
  } */

  .tag-list {
    gap: 8px;
    justify-content: flex-end;
  }
}
/* --------------MEDIA-1440-------------- */

@media screen and (min-width: 1440px) {
  .hero {
    padding: 96px 0;
  }

  .box-hero {
    display: flex;
    align-items: center;
    gap: 569px;
  }

  .box {
    display: flex;
    /* align-items: center; */
  }

  .hero-text {
    padding-bottom: 32px;
  }

  .hero-img {
    width: 1376px;
  }

  .yoga {
    display: flex;
    /* align-items: flex-end; */
    /* flex-direction: row; */
  }

  .img-yoga {
    max-width: 168px;
    height: 100px;
  }

  /* .box-tag {
    display: flex;
  } */

  .box-tag {
    width: 182px;
    height: 72px;
  }

  .tag-list {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
