

.is-hidden {
    visibility: hidden; 
    opacity: 0;
    pointer-events: none;
}
.hide{
    display: none;
}

.backdrop {
    
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(4, 4, 4, 0.40);
    overflow-y: auto;
     position: fixed;
        top: 0;
}

.modal-window {
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    max-width: 335px;
    /* height: 754px; */

    /* margin-left: 20px;
        margin-right: 20px; */
    border-radius: 20px;
    padding: 40px 20px;
    margin: 5px 20px;
    left: 50%;
    transform: translatex(0);
    overflow-y: auto;
}

.btn-modal {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 40px;
}

.button-close {
    position: absolute;
    top: 14px;
    right: 14px;
    fill: #F4F4F4;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0);
    stroke: #F4F4F4;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-modal-img {
    width: 100%;
    border-radius: 12px;
    border: 0;
    height: 258px;

}


.modal-header {
    color: #F4F4F4;
    font-family: 'Neue Montreal';   
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: normal;
    /* text-transform: capitalize; */
}
.modal-header:First-Letter{
    text-transform:uppercase;
}

.rating-star {
    width: 117px;
    height: 18px;
}

.info {
    border-top: 1px solid rgba(244, 244, 244, 0.20);
    border-bottom: 1px solid rgba(244, 244, 244, 0.20);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;
    color: rgba(244, 244, 244, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Neue Montreal';
}

.character {
    color: #F4F4F4;
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
}
.character:First-Letter {
    text-transform: uppercase;
}

.text-info {
    color: rgba(244, 244, 244, 0.60);
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 40px;
}



.btn-delete-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    width: 228px;
    border: none;
    width: 167px;
    height: 42px;
    border-radius: 30px;
    color: #242424;
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
}
.btn-delete-favorites:active,
.btn-delete-favorites:hover{
    color: #F4F4F4;
    background-color: #242424;
    border: 1px solid #F4F4F4;
}
.btn-add-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    width: 167px;
    height: 42px;
    border-radius: 30px;
    color: #242424;
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
}

.btn-add-favorites:active,
.btn-add-favorites:hover {
    color: #F4F4F4;
    background-color: #242424;
    border: 1px solid #F4F4F4;
}
.btn-rating {
    width: 122px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid #F4F4F4;
    background-color: rgba(255, 222, 173, 0);

    color: #F4F4F4;
    font-family: 'Neue Montreal';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    /* 128.571% */
}
.btn-rating:active,
.btn-rating:hover {
    color:#242424;
    background-color: #F4F4F4;
    border: 1px solid #242424;
}

.like-icon {
    background-color: none;
    fill: #F4F4F4;
    stroke: #242424;
}



.like-icon.add-red {
    fill: rgb(243, 60, 60);
    stroke: rgb(243, 60, 60);
}


/* ------ for mobile-------- */
@media (min-width: 375px) {
    .modal-window {
        margin: 10px auto;
    }

    .btn-modal {
        flex-wrap: wrap;
    }
}

/* ------ for laptop -------- */
@media (min-width: 768px) {
    .backdrop {
        display: flex;
            justify-content: center;
            align-items: center;
    }

    .info-card {
        display: flex;
        gap: 28px;

    }

    .text-info {
        margin-bottom: 0;
    }

    .modal-window {
        align-items: unset;
        max-width: 704px;
        padding: 32px;
        margin: 32px;
    }

    .button-close {
        top: 16px;
        right: 16px;
    }

    .modal-header {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 1.33;
    }

    .info {
        margin-top: 16px;
        margin-bottom: 16px;
        gap: 16px;
    }

    .btn-modal {
        gap: 8px;
        margin-top: 64px;
    }
}


/* ------ for PC-------- */
@media (min-width: 1440px) {
    .modal-window {
        max-width: 708px;

    }

    .info-card {
        gap: 32px;

    }
}
/* rating-stars */
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    line-height: 0.85;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: '★★★★★';
    display: block;
    font-size: 12px;
    color:rgba(244, 244, 244, 0.20);


}

.rating__active {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: '★★★★★';
    position: absolute;
    font-size: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #EEA10C;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    font-size: 12px;
}

/* .rating__value {
    font-size: 100%;
        line-height: 1;
        padding: 0 10px 0 0;
        color: #F4F4F4;
        font-family: " Neue Montreal";
        font-size: 12px;
        font-style: normal;
        line-height: 1.5;
    } */
    .rating__value{
        font-family: 'Neue Montreal';
        color: #F4F4F4;
        font-size: 12px;
        padding: 0 10px 0 0;
    }
  