.tui-ico-first,
.tui-ico-prev,
.tui-ico-next,
.tui-ico-last {
    display: none;
}

strong.tui-page-btn {
    width: 32px;
    height: 32px;
    color: var(--main-dark);
    border-radius: 50%;
    border: 1px solid var(--main-dark);

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

}

.tui-pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media only screen and (min-width: 768px) {
    .tui-pagination {    
        margin-top: 32px;
    }
}