/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./basic.css');
@import url('./hero.css');
@import url('./header.css');
@import url('./exercisesLeft.css');
@import url('./exercisesRightFirstPart.css');
@import url('./exercisesRightSecondPart.css');
@import url('./favorites.css');
@import url('./footer.css');

:root {
  font-family: Neue Montreal, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-dark: #242424;
  --main-white-text: #f4f4f4;
  --main-white-background: rgba(255, 255, 255, 1);
  --header-icon-gray: rgba(36, 36, 36, 0.8);
  --footer-icon-gray: rgba(244, 244, 244, 0.8);
  --gray-exercises-text: rgba(36, 36, 36, 0.4);
}
